* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
}

/* 页面版心 */
.container {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*清除页面浮动造成的盒子高度塌陷*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header {
    height: 42px;
    /* 此地方会包含css层叠性导致的问题 需要居中还得auto */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    background: url(images/logo.png) no-repeat;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 50px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search input:focus {
    outline: none;
    border: 1px solid #00a4ff;
    border-right: none;
    box-shadow: 3px 0 3px 3px rgba(0, 0, 0, 0.1);
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    background-color: #00a4ff;
    border: none;
    cursor: pointer;
}

.search button:focus {
    outline: none;
}

.user {
    float: right;
    width: 100px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
}

.user div {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #00a4ff;
    text-align: center;
    margin-right: 10px;
}

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .container {
    height: 421px;
    background: url(images/banner.png) no-repeat top center;
}

.banner .container .subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .container .subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.banner .container .subnav ul li:after {
    content: ">";
    color: #fff;
    font-size: 12px;
    float: right;
}

.banner .container .subnav ul {
    cursor: pointer;
}

.banner .container .subnav ul li:hover {
    color: #00a4ff;
    background-color: rgba(255, 255, 255, 0.1);
}

.banner .container .subnav ul li:hover:after {
    color: #00a4ff;
}

.banner .container .subnav ul li a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

.banner .container .subnav ul li:hover a {
    color: #00a4ff;
}

.banner .container .course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /* 浮动的盒子没有外边距合并的问题 */
    margin-top: 50px;
}

.banner .container .course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
}

.banner .container .course .bd {
    padding: 0 20px;
}

.banner .container .course .bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.banner .container .course .bd ul li h4 {
    font-size: 14px;
    color: #4e4e4e;
}

.banner .container .course .bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.banner .container .course .bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 700;
}

.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    /*行高会被子元素继承*/
    line-height: 60px;
}

.goods h3 {
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    margin-left: 30px;
}

.goods ul li:hover a {
    color: #00a4ff;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods h3, .goods ul, .goods ul li {
    float: left;
}

.goods .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box .box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .box-hd {
    height: 45px;
}

.box .box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin: 10px 30px 0 0;
}

.box .box-bd ul {
    width: 1225px;
}

/*子绝对定位父亲相对定位，管住儿子不让它乱跑（子绝父相）*/
.box .box-bd ul li {
    position: relative;/*相对定位占用空间*/
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin: 0 15px 15px 0;
    cursor: pointer;
}

.box .box-bd ul li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
    transition: all .2s linear;
}

.box .box-bd ul li > img {
    width: 100%;
}

.box .box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box .box-bd ul li em {
    position: absolute;/*绝对定位不占空间*/
    top: 5px;
    right: -4px;
}

.box .box-bd ul li .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box .box-bd ul li .info span {
    color: #ff7c2d;
}

.program {
    margin-top: 30px;
}

.program .program-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.program .program-hd {
    height: 45px;
}

.program .program-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin: 10px 30px 0 0;
}

.program .program-bd ul {
    width: 1225px;
}

/*子绝对定位父亲相对定位，管住儿子不让它乱跑（子绝父相）*/
.program .program-bd ul li {
    position: relative;/*相对定位占用空间*/
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin: 0 15px 15px 0;
    cursor: pointer;
}

.program .program-bd ul li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
    transition: all .2s linear;
}

.program .program-bd ul li > img {
    width: 100%;
}

.program .program-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.program .program-bd ul li em {
    position: absolute;/*绝对定位不占空间*/
    top: 5px;
    right: -4px;
}

.program .program-bd ul li .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.program .program-bd ul li .info span {
    color: #ff7c2d;
}

.footer {
    height: 415px;
    background-color: #fff;
}

.footer .container {
    padding-top: 35px;
}

.footer .container .copyright {
    float: left;
}

.footer .container .copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.footer .container .copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
}

.footer .container .links {
    float: right;
}

.footer .container .links dl {
    float: left;
    margin-left: 100px;
}

.footer .container .links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.footer .container .links dl dd {
    margin-bottom: 5px;
}

.footer .container .links dl dd a {
    color: #333;
    font-size: 12px;
}

.footer .container .links dl dd:hover a {
    color: #00a4ff;
}
