* {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}
div.container {
  background-color: red;
}
div.container header {
  background-color: #fff;
  border-bottom: 1px solid yellowgreen;
  box-shadow: 0 5px 5px rgba(100, 100, 100, 0.3);
}
div.container header nav {
  padding: 30px 10px;
  width: 1200px;
  margin: 0px auto;
  background-color: red;
}
div.container header nav ul {
  float: left;
}
div.container header nav ul li {
  list-style: none;
}
div.container header nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #555;
}
div.container header nav div.buttonGroup {
  float: right;
  background-color: red;
  width: 100px;
}
div.container header nav div.buttonGroup button {
  border: 1px solid #ccc;
}
